<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
</head>

<body>
    <div id="sidebar" lang="">
        <a class="chair" href=""></a>
        <span class="program">
            <span class="name"><a href=""></a> <span class="degree"></span></span>
        </span>
        </span>
        <h1></h1>
        <span class="semester"></span>
        <span class="links">
            <h2>Links</h2>
            <ul class="link-list">
                <template>
                    <li><a href="">NAME</a></li>
                </template>
            </ul>
        </span>
        <ul class="trainers">
            <h2>Team</h2>
            <template>
                <li class="trainer">
                    <img src="" />
                    <span class="info">
                        <span class="name"></span>
                        <span class="role"></span>
                        <ul class="trainer-links">
                            <li class="website"><a href=""><i class="bi bi-link"></i></a></li>
                            <li class="email"><a href=""><i class="bi bi-envelope-fill"></i></a></li>
                        </ul>
                    </span>
                </li>
            </template>
        </ul>
    </div>
    <div id="content" lang="">
       
    </div>
</body>


</html>