@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');
@import url('desktop.css');
@import url('mobile.css');

:root {
    --primary: #273043ff;
    --secondary: #9197aeff;
    --accent: #eff6eeff;
    --font-color: #08090dff;
    --font-sans-serif: 'Roboto', sans-serif;
    --font-serif: 'Roboto Serif', serif;
}

body {
    hyphens: auto;
    font-family: var(--font-sans-serif);
    color: var(--font-color);
}

h1,
h2,
h3 {
    font-family: var(--font-serif);
}

#sidebar h1,
#sidebar h2 {
    word-wrap: break-word;
    text-align: center;
    color: var(--secondary);
}

#sidebar a {
    text-decoration: underline;
    color: var(--accent);
}

#sidebar .chair {
    display: block;
    margin: 2vh 0;
    text-align: center;
    text-decoration: none;
    color: var(--accent);
    font-family: 'Roboto Serif', serif;
}

#sidebar .program {
    display: flex;
    justify-content: space-around;
}

#sidebar .semester {
    display: block;
    text-align: center;
}

#sidebar .link-list {
    margin: 0 1vw;
    padding: 0;
    list-style-type: none;
}

#sidebar .link-list li {
    display: block;
    width: 22vw;
    margin: 0.5vw;
    padding: 0.25vw;
    border-radius: 3px;
    background-color: var(--accent);
    text-align: center;
    color: var(--secondary);
    font-weight: 700;
}

#sidebar .link-list li a {
    display: block;
    text-decoration: none;
    color: var(--cool-grey);
}

#sidebar .trainers {
    margin: 5vh 0;
    padding: 0;
    list-style-type: none;
}

#sidebar .trainers li.trainer {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    width: 20vw;
    padding: 1vw;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--primary);
}

#sidebar .trainers img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
}

#sidebar .trainers .info {
    display: flex;
    margin-left: 1vw;
    flex-direction: column;
}

#sidebar .trainers .info .name {
    font-family: var(--font-serif);
    font-weight: 500;
    font-size: 1.25em;
}

#sidebar .trainers .info .role {
    margin: 0.5vh 0;
}

#sidebar .trainers .info .trainer-links {
    display: flex;
    justify-content: start;
    gap: 0.5vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar .trainers .info .trainer-links a {
    color: var(--primary);
}

#content {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--accent);
}

#content::-webkit-scrollbar {
    width: 10px;
}

#content::-webkit-scrollbar-track {
    background: var(--accent);
}

#content::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 0px;
    border: none;
}

#content h1,
h2,
h3 {
    text-align: left;
    color: var(--primary);
}

#content p {
    text-align: justify;
    line-height: 1.5em;
}

#content table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

#content table thead {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--accent);
    font-family: var(--font-serif);
}

#content table thead th {
    height: 2em;
    line-height: 2em;
    font-size: 1em;
}

#content table tbody td {
    vertical-align: top;
    max-width: 35vw;
    line-height: 1.5em;
}